* {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0 auto;
}

body {
    background-color: transparent;
}

.phone_wrapper {
    width: 16vw; height: 60vh; background-color: black;
    position: absolute; top: 65%; left: 90%;
    transform: translate(-50%, -50%);
    border-radius: 20px; border-style: outset;
    box-shadow: 0 0 15px 4px #000;
    padding: 20px 10px;
}

.screen {
    width: 100%; height: 100%; border-radius: 5px;
    background: url(../assets/img/bg_boxes.svg) center no-repeat #1253;
    background-size: 150%; position: relative;
}

.notification {
    width: 100%; height: 3%; background-color: rgba(0,0,0,0.0);
    position: absolute; top: 0; border-radius: 0px 0px 0px 0px;
    color: #ffffff; text-align: center; transition: 0.5s;
    font-size: 0.8vw;
}

.notification:hover {
    background-color: rgba(240, 248, 255, 0.2);
    cursor: pointer;
}

.notification .left,
.notification .cent,
.notification .rght {
    width: 25%; float: left; padding: 3px 0 0 0;
}

.notification .left {
    text-align: left; padding: 3px 0 0 3px;
}

.notification .cent {
    width: 48%; text-align: center;
    letter-spacing: 1px;
}

.notification .rght {
    text-align: right;
}

.widget {
    width: 90%; height: 20%; line-height: 8%;
    position: absolute; top: 10%; left: 5%;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.4);
}

.app {
    cursor: pointer; width: 3vw;
    border-color: transparent;
}

.icon_main {
    width: 100%; height: 6%; line-height: 8%;
    position: absolute; bottom: 5%;
    float:left; text-align: center;
    font-size: 36px; color: #fff;
}

.icon_main button {
    background-color: transparent; border-color: transparent;
}


.icon_main i {
    width: 20%;
}

.icon_main i:hover {
    text-shadow: 0 0 20px aliceblue;
    transition: 0.3s; cursor: pointer;
}

.menu {
    width: 100%; height: 55%; position: absolute; top: 35%;
    background-color: rgba(240, 248, 255, 0.0);
}

.menu .row {
    width: 100%; height: 20%; font-size: 36px;
    color: #fff; text-align: center;
}

.menu .row i {
    width: 20%;
}

.menu .row i:hover {
    text-shadow: 0 0 20px aliceblue;
    transition: 0.3s; cursor: pointer;
}
